.header.navbar.navbar-default.navbar-static-top
    .container
        .navbar-header
            %button.navbar-toggle.btn.navbar-btn{'data-toggle' => 'collapse', 'data-target' => '.navbar-collapse'}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            %a.navbar-brand.logo-v1
                %img#logoimg{:src => 'img/GitLauncher/header and footer/logo.png', :alt => ''}

        .navbar-collapse.collapse
            %ul.nav.navbar-nav
                %li
                    %fb:login-button{length: 'long', onlogin: "location.href='#{login_path}'", scope: Facebook.config.fb_scope}
                %li
                    %button.login
                %li
                    %button.signup
.container
    #myCarousel.carousel.slide
        %ol.carousel-indicators
            %li.active{'data-target' => '#myCarousel', 'data-slide-to' => '0'}
            %li{'data-target' => '#myCarousel', 'data-slide-to' => '1'}

        .bgslider.carousel-inner
            .item.active
                %img{:src => '/img/GitLauncher/down second/give and receive.png'}
                .container
                    .carousel-caption
            .item
                %img{:src => '/img/GitLauncher/down second/give and receive.png'}
                .container
                    .carousel-caption
        %a.left.carousel-control{:href => '#myCarousel', 'data-slide' => 'prev'}
        %a.right.carousel-control{:href => '#myCarousel', 'data-slide' => 'next'}
.text-center
    %h1 Going Beyond the Box
    %p Giftlauncher let's you receive only the most meaningful gifts for life's most memorable occasions.
.container
    .row
        .col-md-4.col-sm-4.col-xs-4.text-center
            %center
                %img.img-responsive{:src => '/img/GitLauncher/down third/chain left.png'}
                %h1 Create a Wishlist for Any Occasion
                %p.Easy to set up Wishlist to let your guests know about the meaningful gifts that matter to you. Whet

        .col-md-4.col-sm-4.col-xs-4.text-center
            %center
                %img.img-responsive{:src => '/img/GitLauncher/down third/chain mid.png'}
                %h1 Gift Sharing
                %p.You donít need to worry about listing high ticket items because with our Gift Sharing feature your

        .col-md-4.col-sm-4.col-xs-4.text-center
            %center
                %img.img-responsive{:src => '/img/GitLauncher/down third/chain right.png'}
                %h1 Flexibility
                %p.We offer ultimate flexibility to get you the gifts that go beyond the usual. Why limit yourself to

.text-center
    %h1 Featured Gifts
.container
    .row
        .col-md-3.col-sm-3.col-xs-6.text-center
            .center
                %img.img-responsive.imgsize{:src => '/img/GitLauncher/down fourth/London.png'}
            %h2 Image 1 Trip To London
        .col-md-3.col-sm-3.col-xs-6.text-center
            .center
                %img.img-responsive.imgsize{:src => '/img/GitLauncher/down fourth/Surfer.png'}
            %h2 Image 2Surf Getaway
        .col-md-3.col-sm-3.col-xs-6.text-center
            .center
                %img.img-responsive.imgsize{:src => '/img/GitLauncher/down fourth/Alessi Watch.png'}
            %h2 Image 3 Alessi Watch
        .col-md-3.col-sm-3.col-xs-6.text-center
            .center
                %img.img-responsive.imgsize{:src => '/img/GitLauncher/down fourth/Turntable.png'}
            %h2 Image 4 Turntable

    .bgcolor
        .row.cs
            .col-md-6.text-center
                .col-md-4.text-center
                    %br
                    %button.how-it-works
                    %button.about-us
                .col-md-4.text-center
                    %br
                    %button.contact-us
                    %button.privacy-policy
                .col-md-4.text-center
                    %br
                    %button.terms-of-service

            .col-md-6.text-center
                .col-md-3.text-center
                    %button.ic-fb
                .col-md-3.text-center
                    %button.ic-tw
                .col-md-3.text-center
                    %button.ic-pint
                .col-md-3.text-center
                    %button.ic-insta
        .text-center
            %h1.color1 2013 Weddinglab.ph
